





html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}



html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
}




.container {
  background-image: url("../../assets/img/lsa.jpg");
  background-size: cover;
  background-position: center;
  width: 30pc;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ede5e5;
}

form {
  width: 100%;
  max-width: 400px;
  height: auto;
}

button {
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3071a9;
}
