<h1 class="text-center my-5 admin_dashboard_title">Welcome Admin</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card admin_dashboard_card">
                <a routerLink="/post" class="post_link">
                <div class="card-body">
                    <img src="../../assets/img/admin.jpg" width="400" height="300" class="admin_dashboard_img" alt="">
                    <h5 class="text-center my-3">Add Bus</h5>
                    <p class="text-muted text-center">Here you can add,delete,edit,view the busdetails</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card admin_dashboard_card">
                <a routerLink="/regbuses" class="regbuses_link">
                <div class="card-body">
                    <img src="../../assets/img/reg.jpg" width="400" height="300" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">Users</h5>
                    <p class="text-muted text-center">Here you can Book Your Bus</p>
                </div>
                </a>
              </div>
        </div>
    </div>
</div>