<div class="bus-card">
    <img src="../../assets/img/paulo.jpg" alt="saibus photo">
    <h2>paulo</h2>
    <div class="bus-rating">
      <span class="bus-rating-stars" style="width: 78%;">
        ★★★★
      </span>
      <span class="bus-rating-value">3.9</span>
    </div>
  </div>
  
  <div class="bus-card">
    <img src="../../assets/img/royal.jpg" alt="bus travels photo">
    <h2>royal</h2>
    <div class="bus-rating">
      <span class="bus-rating-stars" style="width: 92%;">
        ★★★
      </span>
      <span class="bus-rating-value">2.6</span>
    </div>
  </div>
  

  <div class="bus-card">
    <img src="../../assets/img/shatabdi.jpg" alt="bus travels photo">
    <h2>shatabdil</h2>
    <div class="bus-rating">
      <span class="bus-rating-stars" style="width: 92%;">
        ★★★★★
      </span>
      <span class="bus-rating-value">4.5</span>
    </div>
  </div>


  <div class="bus-card">
    <img src="../../assets/img/mahasagar.jpg" alt="bus travels photo">
    <h2>mahasagar</h2>
    <div class="bus-rating">
      <span class="bus-rating-stars" style="width: 92%;">
        ★★★★
      </span>
      <span class="bus-rating-value">3.6</span>
    </div>
  </div>

  <div class="bus-card">
    <img src="../../assets/img/intercity.jpg" alt="bus travels photo">
    <h2>intercity</h2>
    <div class="bus-rating">
      <span class="bus-rating-stars" style="width: 92%;">
        ★★★★
      </span>
      <span class="bus-rating-value">4.6</span>
    </div>
  </div>