<div class="ticket-details">
    <h2>Ticket Details</h2>
    <p><strong>Source:</strong> {{ source }}</p>
    <p><strong>Destination:</strong> {{ destination }}</p>
    <p><strong>Departure Date:</strong> {{ departureDate }}</p>
    <p><strong>Departure Time:</strong> {{ departureTime }}</p>
    <button (click)="downloadTicket()">Download PDF</button>
    <div class="booking-message">
        <p>Your ticket is successfully booked. Thank you for choosing ridetohome.com!</p>
      </div>
  </div>
  